<div class="bigweb">
	
	<section class="breadcrumb">
		<span>您当前的位置：</span> <a href="{url:}">首页 </a>» 积分商品
	</section>
	
	<section class="web">
		<section class="main">
			<!-- 调用筛选 -->
			{include:_goods_list_filter}
			<!-- 商品列表 -->
			<section class="goods_list">
				{if:$resultData}
				<ul>
					{foreach:items=$resultData}
					<li>
						<a target="_blank" href="{url:/site/products/id/$item[id]}">
							<img alt="{$item['name']}" src="{url:/pic/thumb/img/$item[img]/w/180/h/180}">
							<h5>{$item['name']}</h5>
							<em>￥{$item['sell_price']}</em>
							<del>￥{$item['market_price']}</del>
						</a>
					</li>
					{/foreach}
				</ul>
				{$this->queryobj->getPageBar()}

				{else:}
				<p class="no_tip">
					对不起，没有找到相关商品
				</p>
				{/if}
		</section>
	</section>
	<aside class="bar">
			
			<div class="bar_box">
				<h3 class="bar_box_head">热卖商品</h3>
				<ul class="bar_goods">
					{foreach:items=Api::run('getCommendHot',5)}
					<li>
						<a href="{url:/site/products/id/$item[id]}">
							<img src="{url:/pic/thumb/img/$item['img']/w/60/h/60}" alt="{$item['name']}">
							<strong>{$item['name']}</strong>
							<em>￥{$item['sell_price']}</em>
						</a>
					</li>
					{/foreach}
				</ul>
			</div>
		</aside>
</div>