{set:$seller_id = $this->seller['seller_id'];}
<h1 class="page_title">团购列表</h1>
<section class="regiment_list">
	<form method='post' action='{url:/seller/regiment_del}'>
		{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
		{query:name=regiment where=seller_id eq $seller_id order=sort asc page=$page  key=$dataKey}
		<div class="item">
			<p>
				<strong>团购名：</strong>{$item['title']} <br>
				<strong>时间段：</strong>{$item['start_time']} ~ {$item['end_time']}<br>
				<strong>状态：</strong>{echo:active::statusRegiment($item)}　
				<strong>销售情况：</strong>{$item['sum_count']}/{$item['store_nums']}
			</p>
			<div class="regiment_btn">
				<a class="btnn" href='{url:/seller/regiment_edit/id/$item[id]}'>修改</a>
				<a class="btnn" href='javascript:void(0)' onclick="delModel({link:'{url:/seller/regiment_del/id/$item[id]}'});">删除</a>
			</div>
		</div>
		{/query}
	</form>
	{if:!isset($dataKey)}
		<div class="nothing">暂时没有数据</div>
	{/if}
	{$query->getPageBar()}
</section>
<div class="btn_bottom">
	<a class="btn_submit" href="{url:/seller/regiment_edit}">添加团购</a>
</div>
